@model OpenWeather.Models.WeatherData
<div class="row">
    <div id="weather-widget" class="weather-widget">
        <h2 class="weather-widget__city-name">
            Weather in @Model.name,
            @Model.sys.country
        </h2><h3 class="weather-widget__temperature">
            <img src="http://openweathermap.org/img/w/01d.png" alt="Weather @Model.name , Model.sys.country" width="50" height="50">@Model.main.temp°C
        </h3><p>

        </p>
        <table class="weather-widget__items">
            <tbody>
                <tr class="weather-widget__item">
                    <td>Wind</td>
                    <td id="weather-widget-wind">
                        @Model.wind.speed m/s
                    </td>
                </tr>
                <tr class="weather-widget__item"><td>Опис</td><td>@Model.weather[0].description</td></tr>
                <tr class="weather-widget__item"><td>Тиск</td><td>@Math.Round(Model.main.pressure, 2) Pa</td></tr>
                <tr class="weather-widget__item"><td>Вологість</td><td>@Model.main.humidity %</td></tr>
                <tr class="weather-widget__item"><td>Sunrise</td><td>@Model.sys.SunRise.ToShortTimeString() </td></tr>
                <tr class="weather-widget__item"><td>Sunset</td><td>@Model.sys.SunSet.ToShortTimeString() </td></tr>
                <tr class="weather-widget__item"><td>Geo coords</td><td><a href="@Model.coord.lon - @Model.coord.lat " class="weather-widget__link">[<span id="wrong-data-lat">@Model.coord.lon</span><span id="wrong-data-lon"> - @Model.coord.lat</span>]</a></td></tr>
            </tbody>
        </table>
    </div>
</div>