@{
    ViewBag.Title = "Home Page";
    AjaxOptions ajaxOptions = new AjaxOptions
    {
        UpdateTargetId = "InsertDataHere"
    };

}
<script src="@Url.Content("~/Scripts/jquery-1.10.2.min.js")" type="text/javascript "></script>
<script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.js")" type="text/javascript "></script>
<div class="jumbotron">
    <h1>Maby today was rain?</h1>
    <p class="lead">Current weather and forecasts in your city</p>

    @using (Ajax.BeginForm("GetWeatherData", "Home", ajaxOptions))
    {

        <input name="City" type="text" />
        <input type="submit" value="Search" />
    }
    <div id="InsertDataHere"></div>


    @*@using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <div>
                @Html.ValidationSummary()
                <input type="hidden" name="returnUrl" value="@ViewBag.returnUrl" />
                <p>
                    <label>City</label>
                    @Html.TextBox("City")
                </p>
                <p><button type="submit">Find</button></p>
            </div>
        }*@
</div>

